<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - UAB BookStore</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/inventory">UAB BookStore</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/inventory">Inventory</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/showcart">Cart</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/wishlistdisplay">Wishlist</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/orderdetails">Orders</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/addinventory">AddInventory</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
      Hi, {{ session['username'] }}
    </div>
  </div>
</nav>

    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>